{% extends "home.html" %}


{% block content %}
<div class="container register">
<h2>LIBROS</h2>


{% for libros in libros_list %}
	
	<div class="col-md-4 well">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ libros.nombre }}</h3>
            </div>
                <div class="panel-body">

                    {% for generos in libros.genero.all %}
   						{{ generos }}
					{% endfor %}
					<br/>
                    <img src="{{libros.portada.url}}" height="324" width="250" ><br/>
                    {{libros.sinopsis}}
                    

                </div>
                    
        </div>
    </div>





{% empty %}
	No hay ningun libro
{% endfor %}



</div>
<div class="container register">
	<button type="button" class="btn btn-success" onclick="location.href='/libros'">Formulario</button>
</div>
{% endblock %}